* {
  box-sizing: border-box;
}

img {
  width: 200px;
  align-self: center;
  cursor: pointer;
}

h1 {
  text-align: center;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 24px;
  width: 300px;
  background: #1a3546;
  margin-bottom: 150px;
}

h2 {
  align-self: center;
  margin-top: 50px;
  font-size: 180px;
}

p {
  font-family: 'Amatic SC', cursive;
  color: #1a3546;
  font-size: 40px;
  text-align: center;
}

.App {
  padding: 0 300px;
  color: white;
  display: flex;
  flex-direction: column;
}
